<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<table class="data table table-totals">
    <thead class="caption" >
        <tr>
            <td colspan="2">
                <span data-bind="i18n: 'Summary'"></span>
            </td>
        </tr>
    </thead>
    <tbody>
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    </tbody>
</table>
<!-- /ko -->
